* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}


.step-item {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}

.step-item:last-child {
  margin-right: 0;
}

.imag1 {
  height: 150px;
  margin-bottom: 15px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.imag2 {
  height: 150px;
  margin-bottom: 15px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.imag3 {
  height: 150px;
  margin-bottom: 15px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #FF9A4B;
}


.title {
  margin-bottom: 5px;
}


footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}